@font-face {
    font-family: 'dmsans';
    src: url(/fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: 'gilroy-bold';
    src: url(/fonts/gilroy-bold.ttf);
}
@font-face {
    font-family: 'gilroy-medium';
    src: url(/fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: 'gilroy-regular';
    src: url(/fonts/gilroy-regular.ttf);
}
@font-face {
    font-family: 'inter';
    src: url(/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'inter-bold';
    src: url(/fonts/Inter-SemiBold.ttf);
}