.header__content {
    max-width: 1380px;
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    margin-right: 20px;
}

.header__nav ul {
    display: flex;
}

.header__link {
    font-size: 17px;
    margin-left: 40px;
    color: #fff;
    letter-spacing: 0.25px;

    &-active {
        color: var(--accent);
    }
}
