.intro {
    padding-top: 40px;
    margin-bottom: 125px;
}

.intro__content {

}

.intro__flex {
    display: flex;
    align-items: center;
}

.intro__item {
    width: 50%;
}

.intro__img img{
    border-radius: 10px;
}

.intro__text {
    color: #fff;
    padding-left: 60px;
    padding-top: 130px;
    letter-spacing: 3.2px;
}

.intro__title {
    font-size: 70px;
    margin-bottom: 87px;
    line-height: 88px;
}
.next {
    font-size: 75px;
    letter-spacing: 3.2px;
}
.level {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 3.2px;
}

.listen__title {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 16px;
}

.listen__icons {
    display: flex;
    gap: 17px;
}

.listen {
    padding: 0 22px;
    letter-spacing: 0;
}