.betefit {
    
}
.benefit__title {
    font-family: 'gilroy-bold';
    font-size: 24px;
    opacity: 0.9;
    margin-bottom: 20px;
}
.betefit__text {
    max-width: 300px;
    opacity: 0.8;
    margin-bottom: 14px;
}
