.cart {
    align-self: center;
    justify-self: end;
    position: relative;
}

.cart__img {
    
}
.cart__count {
    display: inline-block;
    height: 25px;
    padding: 0 6px;
    line-height: 25px;
    font-weight: 700;
    background-color: var(--accent);
    border-radius: 40px;
    position: absolute;
    right: -6px;
    font-family: 'inter';
    top: 3px;
}