.header {
    background-color: var(--footer-bg);
    background-image: url(/img/header/header-bg.jpg);
    background-size: cover;
    background-position: center;
    aspect-ratio: 1440 / 1084;
    padding-top: 20px;
    overflow-x: hidden;
    position: relative;

    color: #fff;


    @include retina-bg(url('/img/header/header-bg@2x.jpg'));

    a {
        color:#fff;
    }
}

.header__content {
    text-align: center;
}
.header__title {
    margin-bottom: 14px;
    font-weight: 700;
    letter-spacing: -0.8px;
    font-size:clamp(1.75rem, 0.821rem + 4.64vw, 5rem);
    line-height: 130%;
    text-transform: capitalize;
}
.header__content p {
    font-size:clamp(0.875rem, 0.696rem + 0.89vw, 1.5rem);
    font-weight: 400;
    line-height: 160%;
    max-width: 606px;
    margin: 0 auto;
    opacity: 0.8;
}

.header__search {
    margin-top: clamp(0.938rem, 0.402rem + 2.68vw, 2.813rem);
    display:flex;
    justify-content: center;    
    padding-bottom: 20px;

    @media(max-width:600px) {
        display: none;
    }
}
// dots

.dots {
    
}
.header__dot-sofa {
    position: absolute;
    left: calc(277 * 100% / ( 1440 - 30 ));
    top: calc(666 * 100% / ( 1084 - 9 ));
}

.header__dot-vase {
    position: absolute;
    left: calc(103 * 100% / 1440);
    top: calc(743 * 100% / 1084);
}
.header__dot-table {
    position: absolute;
    left: calc(800 * 100% / 1440);
    top: calc(777 * 100% / 1084);
}
.header__dot-flower {
    position: absolute;
    left: calc(1369 * 100% / 1440);
    top: calc(809 * 100% / 1084);
}

.header__dot {
    @media (max-width:820px) {
        display: none;
    }
}