.header__nav {
    margin-bottom: clamp(1.25rem, 0.071rem + 5.89vw, 5.375rem);
}

.nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 20px;
}
.nav__logo {
    align-self: center;
    font-family: 'gilroy-bold';
    letter-spacing: 0.28px;
    font-size: clamp(1.063rem, 0.866rem + 0.98vw, 1.75rem);
    text-transform: capitalize;
}

.nav__btn {
    display: none;

    @include mediaTablet {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}