.search-form {
    background-color:rgba(255, 255, 255, 0.15000000596046448);
    height:56px;
    width:344px;
    padding: 8px 8px 8px 20px;
    border-radius:42px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border: 0.8px solid #FFFFFF;
    gap: 10px;
}

.search-form__input {
    font-size: 18px;
    line-height: 150%;
    flex-grow: 1;
    &::placeholder {
        color: #FFFFFF;
        opacity: 0.8;
    }
}
.search-form__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:var(--accent);
    flex-shrink: 0;
}